.item-detail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  min-height: 100vh;
  padding-top: 10px;
  box-sizing: border-box;
}

.product-item button {
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.product-item button:hover {
  background-color: #0056b3;
}
